body{
    font-family: Arial, sans-serif;
    margin:2%;
    text-align: center;
    height:100vh;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.simulation-card{
    margin: 2%;
    border: 1px solid #ccc;
    padding: 2%;
    width: 25%;
}
.canvas{
    background-color: lightblue;
    position: relative;
    width:100%;
    height:80%;
    border: 1px solid black;
}
.canvasE{
    margin-bottom: 2%;
}